@charset "utf-8";
/* CSS Document */
.t-gt{
	font-size: 20px;
	font-weight: 500;
	font-family: 'Space Grotesk', sans-serif;
}
.footer{
	color: #fff;
	width: 100%;
	max-height: 960px;
	background-color: #2F394F;
}
/*
.footer__links{
	display: flex;
	flex-wrap: nowrap;
}
*/
.footer__hold{
	padding: 48px 0px 48px 0px;
}
.footer__links .footer__main{
	display: block;
	flex: none;

}
.footer__links a{
	text-decoration: none;
	margin: 15px 0;
}
.footer__links  li a{
	display: table;
	position: relative;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.footer__links li a:after{
	content: "";
	position: absolute;
	background-color: #fff!important;
	height: 1px;
	width: 0;
	left: 0;
	bottom: -5px;
	transition: 0.3s;
}
.footer__links li a:hover:after{
	width: 100%;
}

.footer__main span{
	margin-left: 15px;
}
.footer__links .footer__main a{
	margin-left: 15px;
/*	display: flex;*/
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}
.footer__links .footer__shop a{
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
/*	display: flex;*/
	color: #FFFFFF;
}

.footer__links .footer__socialS a{
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
/*	display: flex;*/
	color: #FFFFFF;
}
.footer__links .footer__help a{
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
/*	display: flex;*/
	color: #FFFFFF;
}
.lined a{
	
	color: #fff;
	text-decoration: none;
}
.footer__main{
	padding: 30px 0 30px 30px;
	border-top: .5px solid rgba(255,255,255,.6);
	border-right: .5px solid rgba(255,255,255,.6);
	border-bottom: .5px solid rgba(255,255,255,.6);

}
.footer__shop{
	padding: 30px 0 30px 30px;
	border-top: .5px solid rgba(255,255,255,.6);
	border-bottom: .5px solid rgba(255,255,255,.6);

}
.footer__socialS{
	padding: 30px 0 30px 30px;
	border-top: .5px solid rgba(255,255,255,.6);
	border-bottom: .5px solid rgba(255,255,255,.6);
	border-left: .5px solid rgba(255,255,255,.6);

}
.footer__help{
	padding: 30px 0 30px 30px;
	border-top: .5px solid rgba(255,255,255,.6);
	border-bottom: .5px solid rgba(255,255,255,.6);
	border-left: .5px solid rgba(255,255,255,.6);

}

.footer__logo img{
	opacity: 0.7;
	display: flex;
	width: 100%;
/*	width: 80vw;*/
	margin: 0 auto;
	justify-content: center;
	padding: 35px 30px 35px 30px;
/*	border-bottom: .5px solid #fff;*/
}
.footer__logo{
	padding-left: 0;
	padding-right: 0;
	border-bottom: .5px solid rgba(255,255,255,.6);
}

.footer__rights-dev__dev{
	font-family: 'IBM Plex Sans', sans-serif;
	color: #fff;
}
.footer__rights-dev {
	font-weight: 200;
	font-size: 12px;
	padding: 15px 30px;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #fff;
	display: flex;
	justify-content: space-between;
	border-bottom: .5px solid rgba(255,255,255,.6);
}

.footer__rights-dev__dev:hover{
	color: #3274E3;
	text-decoration: none;
	transition: .2s ;
}



@media screen and (max-width:1024px){
	.footer__socialS{
		padding-left: 45px;
	}
	.footer{
/*	height: 80vh;*/
}
	.footer__shop{
	border-bottom: none;
	}
	.footer__shop{
	border-bottom: none;
	}
	.footer__socialS{
	padding-left: 30px;
	}
	.footer__help{
		padding-left: 45px!important;
	}
}

@media screen and (max-width:576px){
	.footer__socialS{
		padding-left: 45px;
	}
	.footer{
		height: 790px;
}
	
	.footer__socialS{
	border-top:  none;
	}
	.footer__main{
		padding-left: 15px;
		padding-right: 0;
}
.footer__shop{
	padding-left: 15px;
		padding-right: 0;
}
.footer__socialS{
	border-top: .5px solid #fff;
	padding-left: 15px;
		padding-right: 0;
}
.footer__help{
	border-top: none;
	padding-left: 30px!important;
		padding-right: 0;
}
	.footer__logo img{
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer__rights-dev{
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer__links li a{
		font-size: 12px;
	}
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	